{% extends "two_factor/_base.html" %}
{% load socialaccount %}
{% block body %}
<style>
   .google-login {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
        }

        .btn-google {
            display: flex;
            align-items: center;
            padding: 8px 16px;
            border-radius: 4px;
            border: 2px solid #00cbf9;
            background-color: white;
            color: rgb(55, 54, 54);
            cursor: pointer;
            text-decoration: none;
        }

        .btn:hover {
            background-color: #f8f8f8;
            color: rgb(55, 54, 54);
        }

        .btn img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            background-color: white; /* Ensure the logo blends with the button */
        }
</style>
{% if messages %}
<div class="row justify-content-center">
  <div class="col-md-6">
    {% for message in messages %}
    <div
      class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show mt-3"
      role="alert">
      <i
        class="{% if message.tags == 'error' %}fas fa-exclamation-circle{% elif message.tags == 'success' %}fas fa-check-circle{% elif message.tags == 'info' %}fas fa-info-circle{% elif message.tags == 'warning' %}fas fa-exclamation-triangle{% else %}fas fa-bell{% endif %} me-2"></i>
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-lg p-1 mb-5 bg-white rounded">
      <div class="card-header bg-secondary text-white text-center rounded-top">
        <h4>Welcome Back!</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
            <label for="username">Username</label>
          </div>
          <div class="form-floating mb-3 position-relative">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            <label for="password">Password</label>
            <span toggle="#password"
              class="fa fa-fw fa-eye toggle-password position-absolute top-50 translate-middle-y pe-2"
              style="cursor:pointer; right: 10px;"></span>
          </div>
          <div class="d-flex align-items-center">
            <button class="btn btn-primary" type="submit">Login</button>
            <small>
              <a href="{% url 'password_reset' %}" class="text-decoration-none mx-3 text-primary">Forgot Password?</a>
            </small>
          </div>
        </form>
        <div class="google-login text-center mt-3">
          <a href="/accounts/google/login/?process=login" class="btn-google btn btn-info">
              <img src="/static/images/google.png" alt="Google Logo">
              Sign in with Google
          </a>
      </div>

        <div class="mt-3 text-center">
          <span>Need an account? </span><a href="{% url 'register_user' %}" class="text-primary">Sign up now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".toggle-password").click(function () {
      let input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
        $(this).removeClass("fa-eye").addClass("fa-eye-slash");
      } else {
        input.attr("type", "password");
        $(this).removeClass("fa-eye-slash").addClass("fa-eye");
      }
    });
  });
</script>
{% endblock %}