{% extends "blog/base.html" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <i class="fa fa-sign-out-alt fa-3x text-info mb-3" aria-hidden="true"></i>
                    <h3 class="card-title">Logged Out</h3>
                    <p class="card-text">You have been successfully logged out. Would you like to log in again?</p>
                    <a href="{% url 'login_user' %}" class="btn btn-info btn-lg mt-3">Log In Again</a>
                </div>
            
        </div>
    </div>
</div>
{% endblock %}
