{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="row justify-content-center ">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <div class="card shadow-lg p-2 bg-white rounded">
      <div class="card-header bg-info text-white text-center rounded-top">
        <h4>Password Reset</h4>
      </div>
      <div class="card-body">
        <p class="text-muted mb-4 text-center">Enter your email to receive reset instructions.</p>
        <form method="POST">
          {% csrf_token %}
          {{ form.email|as_crispy_field }}
          <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-info" type="submit">Request Password Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}