{% extends "blog/base.html" %}
{% block body %}
<div class="row justify-content-center ">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card shadow-lg p-4 bg-white rounded">
      <div class="card-header bg-secondary text-white text-center rounded-top">
        <h4> Request Sent</h4>
      </div>
      <div class="card-body text-center">
        <div class="alert alert-info mb-4">
          An email has been sent with instructions to reset your password.
        </div>
        <p class="text-muted">Please follow the instructions in the email to reset your password.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}