{% extends "blog/base.html" %}
{% block body %}
<div class="row justify-content-center ">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card shadow-lg p-4 bg-white rounded">
      <div class="card-header bg-secondary text-white text-center rounded-top">
        <h4> Password Changed Successfully </h4>
      </div>
      <div class="card-body text-center">
        <div class="alert alert-success mb-4">
          Your password has been changed successfully.
        </div>
        <p class="text-muted">You can now log in with your new password. Make sure to keep it secure.</p>
        <a href="{% url 'login_user' %}" class="btn btn-info">Sign In</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
