{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="row justify-content-center ">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card shadow-lg p-1 bg-white rounded">
      <div class="card-header bg-info text-white text-center rounded-top">
        <h4>Confirm Password Reset</h4>
      </div>
      <div class="card-body">
        <p class="text-muted mb-4 text-center">Enter your new password below.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-info" type="submit">Reset Password</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
