{% extends "blog/base.html" %}
{% block body %}
<div class="row justify-content-center ">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card shadow-lg bg-white rounded">
      <div class="card-header bg-info text-white text-center rounded-top">
        <h4>Password Set Successfully</h4>
      </div>
      <div class="card-body text-center">
        <div class="alert alert-info mb-4">
          Your password has been set successfully.
        </div>
        <p class="text-muted">You can now sign in using your new password.</p>
        <a href="{% url 'login_user' %}" class="btn btn-info">Sign In Here</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
