{% extends "blog/base.html" %}
{% load static %}

{% block search_bar %}
<form autocomplete="off">
  <div class="input-group mb-4">
    <input type="text" class="form-control" name="search" placeholder="Search your articles..." aria-label="Search">
    <button class="btn btn-outline-secondary" type="submit" id="search-button"><i class="fas fa-search"></i></button>
  </div>
</form>
{% endblock %}
{% block nav-end-menu %}

<ul class="navbar-nav">
  <li class="nav-item dropdown">
      <a href="#" class="nav-item nav-link text-white position-relative mx-1 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-cog"></i> Account Settings
          {% if not login_activity_count <= 0 %}
          <span class="position-absolute top-1 start-100 translate-middle badge rounded-circle bg-danger ms-n3">
              {{ login_activity_count }}
              <span class="visually-hidden">unread notifications</span>
          </span>
          {% endif %}
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li>
          <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#loginDetailsModel">
              <i class="fa fa-user-circle"></i> Login Details
              {% if not login_activity_count <= 0 %}
              <i class="fa fa-exclamation-circle text-danger ms-2"></i>  <!-- Alert Icon -->
              {% endif %}
          </a>
      </li>
      
          <li>
              <a class="dropdown-item" href="/account/two_factor/setup/">
                  <i class="fa fa-lock"></i> Two Factor Authentication
              </a>
          </li>
          <li>
              <a class="dropdown-item" href="{% url 'password_change' %}">
                  <i class="fa fa-key"></i> Change Password
              </a>
          </li>
          <li>
              <a class="dropdown-item" href="{% url 'logout_user' %}">
                  <i class="fa fa-sign-out-alt"></i> Logout
              </a>
          </li>
      </ul>
  </li>
</ul>

{% endblock%}
{% block body %}
<style>
  .logo-admin {
    font-size: 24px;

    /* The text color is set to transparent so only the background shows. */
    color: transparent;

    /* This gradient defines the sequence of colors the text will cycle through. */
    background: linear-gradient(30deg, #52d296, #0099ff);

    /* This clips the background to the text. */
    -webkit-background-clip: text;
    background-clip: text;

    /* This animation changes the position of the background, making it look like the text is changing color. */
    animation: colors 5s infinite alternate;
  }

  .followers-following .followers a,
  .followers-following .following a,
  .update-profile,
  .follow-modal {
    padding: 6px 11px;
    border-radius: 17px;
    transition: background 0.2s ease, transform 0.2s ease;
  }
  .follow-modal button {
    padding: 6px 11px;
    border-radius: 17px;
    border: none;
    transition: background 0.2s ease, transform 0.2s ease;
  }

  .followers-following .follow-modal a {
    padding: 5px 5px;
    border-radius: 16px;
    transition: background 0.2s ease, transform 0.2s ease;

  }

  .followers-following .followers a:hover,
  .followers-following .following a:hover,
  .followers-following .follow-modal a:hover,
  .update-profile {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .followers-following .followers a {
    background: #007afc1a;
    text-decoration: none;
  }

  .followers-following .following a {
    background: rgba(48, 171, 77, 0.1);
    text-decoration: none;
  }

  .followers-following .follow-modal a {
    background: rgba(245, 58, 58, 0.1);
    text-decoration: none;
  }
  .followers-following .follow-modal button {
    background: rgba(245, 58, 58, 0.1);
    text-decoration: none;
  }

  .modal-search {
    border-bottom: 1px solid #dee2e6;
    /* Light gray border */
  }

  .modal-body li {
    transition: background-color 0.2s ease;
  }

  .modal-body li:hover {
    background-color: #f3f3f3;
    /* Very light gray for hover effect */
  }
  .navbar-nav .dropdown-menu {
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav-item.nav-link {
    transition: color 0.3s;
}

.nav-item.nav-link:hover {
    color: #FFD700; /* gold color for hover effect */
}

.dropdown-item {
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #333;  /* darken background on hover */
    color: white;
}

/* Font Awesome icons as an example */
.nav-item .fa {
    margin-right: 8px;
}
 .profile-pic {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out; 
  transform-origin: center;
}

.profile-pic:hover {
  transform: scale(1.1) ; 
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7); 
}

</style>



<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="{{user.profile.profile_pic.url}}" alt="{{ user.username }}'s Profile Picture" class="mb-2 profile-pic"
        style="border-radius: 50%; width: 200px; height: 200px;">
    </div>
    <div class="col-md-8">
      <div class="d-flex align-items-center">
        <h2 class="mr-3">{{ user.username }}</h2>

        {% if request.user.is_superuser or request.user.is_staff %}
        <!-- Link to Admin/Settings page with cog icon -->
        <a href="/admin/" title="Admin Site" class="mx-3">
          <i class="fas fa-user-cog fs-2 logo-admin"></i>
        </a>

        {% endif %}
      </div>
      <p class="text-muted">{{ user.profile.bio }}</p>

      <!-- Displaying Last Login Time Here -->
      <div class="d-flex align-items-center mb-2">
        <i class="fas fa-clock me-2"></i>
        <span>Last logged in: {{ user.profile.previous_logged_in_date|date:"F j, Y" }}</span>
      </div>
      <hr>

      <div class="followers-following d-flex align-items-center mb-3">

        <!-- Followers Modal Trigger -->
        <div class="followers d-flex align-items-center">
          <a href="#" class="d-flex align-items-center link-info" data-bs-toggle="modal"
            data-bs-target="#followerModal">
            <i class="fas fa-users me-2"></i>
            <span>{{ user.profile.follower_count }} Followers</span>
          </a>
        </div>

        <!-- Following Modal Trigger -->
        <div class="following d-flex align-items-center mx-3">
          <a href="#" class="d-flex align-items-center link-success" data-bs-toggle="modal"
            data-bs-target="#followingModal">
            <i class="fas fa-user-check me-2"></i>
            <span>{{ user.profile.following_count }} Following</span>
          </a>
        </div>

      </div>
      <a href="{% url 'update_profile' %}" class="btn update-profile btn-outline-secondary">
        <i class="fas fa-user"></i> Update Profile
      </a>
    </div>

  </div>
</div>
<hr>
<div class="container">
  <h3 class="display-6 text-center my-4 border-bottom pb-2">Recent Posts</h3>
</div>
{% if page_obj %}
{% for post in page_obj %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"j M, Y" }}</small>
    </div>
    <h3><a class="article-title" href="{% url 'post-details' post.slug %}">{{ post.title }}</a></h3>
    <p class="article-content" style="display: inline;">{{ post.content|truncatewords:120 }}</p>
    {% if post.content|wordcount > 120 %}
    <a href="{% url 'post-details' post.slug %}" class="read-more-link">Read More</a>
    {% endif %}
  </div>
  <div class="icons-container d-flex justify-content-center align-items-center mt-4">
    <!-- Like Icon -->
    <a href="{% url 'like_post' post.id %}"
      class="icon-link like-btn d-flex align-items-center mx-3 text-decoration-none" data-post-id="{{ post.id }}">
      <i
        class="{% if post.id in user_liked_post_ids %}fas fa-heart text-danger{% else %}far fa-heart text-secondary {% endif %}"></i>
      <span class="icon-count ml-2 text-dark">{{ post.likes_count }}</span>
    </a>

    <!-- Comment Icon -->
    <a href="{% url 'post-details' post.slug  %}#comments"
      class="icon-link comment-icon d-flex align-items-center mx-3 text-decoration-none">
      <i class="far fa-comment text-dark"></i>
      <span class="icon-count ml-2 text-dark">{{ post.blogcomment_set.count }}</span>
    </a>

    <!-- LinkedIn Share -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|add:post.get_absolute_url }}&title={{ post.title }}"
      target="_blank" class="icon-link d-flex align-items-center mx-3 text-decoration-none">
      <i class="fab fa-linkedin text-primary"></i>
    </a>

  </div>
</article>
{% endfor %}
<div class="container mt-5">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <!-- Display 'First' button only if not on the first page -->
      {% if not page_obj.number == 1 %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
      </li>
      {% endif %}

      <!-- Display 'Previous' button only if there's a previous page -->
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span
            aria-hidden="true">&laquo;</span></a>
      </li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item active">
        <span class="page-link">{{ num }}</span>
      </li>
      {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %} <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        <!-- Display 'Next' and 'Last' buttons only if there's a next page -->
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span
              aria-hidden="true">&raquo;</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last"><span
              aria-hidden="true">&raquo;&raquo;</span></a>
        </li>
        {% endif %}
    </ul>
  </nav>
</div>
{% else %}
<div class="text-center mt-5">
  <h4 class="mt-3">You Haven't Posted Anything Yet!</h4>
  <p class="text-muted">Start your journey by sharing your thoughts, stories, or expertise with the community.</p>

  <a href="{% url 'post-create' %}" class="text-primary mt-3 d-block">Start Writing</a>
  <p class="mt-2 text-muted">Everyone has something valuable to share. What's your story?</p>
</div>

{% endif %}
<script src="{% static 'js/likes.js' %}"></script>



<!-- ===== MODAL FOR THE FOLLOWER LIST======= -->


<div class="modal fade" id="followerModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
  <div class="modal-dialog"> <!-- Retained modal-lg for a bigger modal -->
    <div class="modal-content">
      <div class="modal-header ">
        <h1 class="modal-title fs-5" id="followerModalLabel">Followers</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Search bar -->
      <!-- <div class="modal-search p-3">
        <input type="text" class="form-control" placeholder="Search followers...">
      </div> -->
      <!-- Modal body with scrollbar -->
      <div class="modal-body" style="overflow-y: auto; max-height: 300px;">
        {% if followers %}
        <ul class="list-unstyled">
          {% for follower in followers %}
          <li class="d-flex align-items-center justify-content-between mb-3">
            
            <!-- Left Part: Image and Username -->
            <div class="d-flex align-items-center">
              <img src="{{follower.follower.user.profile.profile_pic.url}}"
                alt="{{ follower.follower.user.username }}'s Profile Picture"
                style="border-radius: 50%; width:50px ; height:50px ">
              <a href="{% url 'user-profile-details' follower.follower.slug %}" class="text-dark text-decoration-none ms-3">
                {{follower.follower.user.username}}
              </a>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="text-muted ">No followers yet. Keep posting and engaging!</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<!-- ====== MODAL FOR FOLLOWING ===== -->
<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header  d-flex justify-content-center align-items-center">
        <h1 class="modal-title fs-5" id="followerModalLabel">Following</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    
      <!-- Modal body with scrollbar -->
      <div class="modal-body" style="overflow-y: auto; max-height: 300px;">
        {% if followings %}
        <ul class="list-unstyled">
          {% for following in followings %}
          <li class="d-flex align-items-center justify-content-between mb-3">

            <!-- Left Part: Image and Username -->
            <div class="d-flex align-items-center">
              <img src="{{following.followed.user.profile.profile_pic.url}}"
                alt="{{ following.followed.user.username }}'s Profile Picture"
                style="border-radius: 50%; width:50px ; height:50px ">
              <a href="{% url 'user-profile-details' following.followed.slug %}"
                class="text-dark text-decoration-none ms-3">
                {{following.followed.user.username}}
              </a>
            </div>

            <!-- Right Part: Unfollow Button -->
            <div class="followers-following">
                <div class="follow-modal">
              <button href="#" class="d-flex align-items-center link-danger follow-btn"
                data-action="unfollow"
                data-slug="{{ following.followed.slug }}">
                <i class="fas fa-user-minus me-1"></i>
                <span>Unfollow</span>
              </button>
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="text-muted ">You haven't followed anyone yet. Explore and connect!</p>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

$('.follow-btn').on('click', function(e) {
    e.preventDefault();

    const $this = $(this);
    const action = $this.data('action');
    const slug = $this.data('slug');
    let url;

    if (action === 'unfollow') {
        url = `/user/unfollow/${slug}/`;
    } else {
        console.error('Invalid action');
        return;
    }

    // AJAX request
    $.ajax({
        type: 'POST',
        url: url,
        data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response) {
            if (response.success) { 
                // Remove the list item of the unfollowed user
                $this.closest('li').remove();

                 // Update the following count of the logged-in user
                $('.following span').text(response.following_count + ' Following');
                
            } else {
                console.error('Failed to unfollow');
            }
        }
    });
});
});


</script>


<!-- Modal for the login details -->
<div class="modal fade" id="loginDetailsModel" tabindex="-1" aria-labelledby="loginDetailsModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Login Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {% if login_details %}
      <div class="modal-body compact-content">
        {% for detail in login_details %}
        <div class="card">
          <div class="card-body">
            <div class="mb-1">
              <strong>Device Type:</strong> {{ detail.device_type }}
            </div>
            <div class="mb-1">
              <strong>Browser:</strong> {{ detail.browser }}
            </div>
            <div class="mb-1">
              <strong>Operating System:</strong> {{ detail.os }}
            </div>
            <div class="mb-1">
              <strong>Device Name:</strong> {{ detail.node_device_name }}
            </div>
            <div class="mb-1">
              <strong>Processor:</strong> {{ detail.processor }}
            </div>
            <div class="mb-1">
              <strong>Login Date:</strong> {{ detail.login_date|date:"F j, Y, g:i A" }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="modal-footer justify-content-center">
        <a href="{% url 'confirm_activity' %}" class="text-decoration-none text-center">Confirm Activity</a>
        <p class="text-muted">Before confirming, ensure all activities are familiar.</p>
      </div>
      {% else %}
      <div class="modal-body">
        <p class="text-muted">No activity to show !!</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}