{% extends "blog/base.html" %}
{% block body %}
<div class="d-flex justify-content-center align-items-center ">
    <div class="card p-1 shadow-lg" style="max-width: 35rem;">
        <div class="card-header text-white text-center" style="background-color: #555454;">
            <h4>Join Today</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-floating mb-4">
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                        class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.auto_id }}"
                        placeholder="{{ field.label }}" {% if field.field.required %}required{% endif %}>
                    <label for="{{ field.auto_id }}">
                        {{ field.label }}
                        {% if field.field.required %}
                        <span class="text-danger" style="font-weight: bold;">*</span>
                        <!-- red asterisk for required fields -->
                        {% endif %}
                    </label>
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        {{ field.errors.0 }}
                    </div>
                    {% elif field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mt-2 w-100">Sign Up</button>
                </div>
            </form>
            <hr>
            <div class="text-center">
                <span>Already Have An Account? </span>
                <a href="/account/login/" class="text-primary">Sign In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}