{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-secondart shadow-lg">
                <div class="card-header bg-secondary text-white">
                    <h4 class="text-center mb-0">Edit Profile</h4>
                </div>
                <div class="card-body py-5">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group mb-4">
                            {{ user_update_form|crispy }}
                        </fieldset>
                        {% if request.user.profile.profile_pic %}
                        <div class="form-group text-center mb-4">
                            <label>Current Profile Picture:</label>
                            <div class="mb-3">
                                <img src="{{ request.user.profile.profile_pic.url }}" alt="Current Profile Picture"
                                    class="rounded-circle border border-secondary" style="width:100px; height:100px;">
                            </div>
                        </div>
                        {% endif %}
                        <fieldset class="form-group mb-4">
                            <div class="form-group">
                                <label for="{{ profile_update_form.profile_pic.id_for_label }}" class="{% if profile_update_form.profile_pic.field.required %}required-field{% endif %}">Profile Picture</label>
                                <input type="file" name="{{ profile_update_form.profile_pic.name }}"
                                    id="{{ profile_update_form.profile_pic.id_for_label }}" class="form-control-file">
                            </div>
                            {{ profile_update_form.bio|as_crispy_field }}
                        </fieldset>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-outline-secondary btn-block">Update Profile <i class="fas fa-user-edit"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
