{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block nav-end-menu %}
<a class="nav-item nav-link text-white user-badge position-relative mx-1" href="{% url 'user_profile' %}">
    <i class="fas fa-user-circle"></i> {{ user.username }}
    {% if not login_activity_count <= 0 %}
    <span class="position-absolute top-1 start-100 translate-middle badge rounded-circle bg-danger ms-n2">
        {{ login_activity_count }}
        <span class="visually-hidden">unread notifications</span>
    </span>
    {% endif %}
</a>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card border-secondary shadow-lg">
                <div class="card-header text-white text-center" style="background-color: #555454;">
                    <h4>Write a Tech Article</h4>
                </div>
                <div class="card-body">
                    <form method="POST" class="m-3 custom-blog-form" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group mt-4 text-center">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fas fa-paper-plane"></i> Post
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
