{% extends 'blog/base.html' %}
{% block body %}
<article class="media content-section">
    <div class="media-body">
        <div
            class="article-metadata d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
            <div class="mb-2 mb-md-0"> <!-- mb-* classes for margin on small screens -->
                <img class="rounded-circle article-img" src="{{ object.author.profile.profile_pic.url }}"
                    style="width: 65px; height: 65px;">
                {% if user.profile.slug == object.author.profile.slug %}
                <a class="mr-2" href="{% url 'user_profile' %}">{{ object.author }}</a>
                {% else %}
                <a class="mr-2" href="{% url 'user-profile-details' object.author.profile.slug  %}">{{ object.author }}</a>
                {% endif %}
                <small class="text-muted">{{ object.date_posted|date:"j M, Y" }}</small>
            </div>
            {% if object.author == user %}
            <div>
                <a href="{% url 'post-update' object.slug %}" class="rounded-pill px-2 py-1 bg-info text-white mr-1"
                    style="text-decoration: none;">Update</a>
                <a href="{% url 'post-delete' object.slug %}" class="rounded-pill px-2 py-1 bg-danger text-white"
                    style="text-decoration: none;">Delete</a>
            </div>
            {% endif %}
        </div>
        <h3><a class="article-title" href="">{{ object.title }}</a></h3>
        <p class="article-content">{{ object.content }}</p>
        <div>
        </div>
    </div>
</article>
{% if not user.profile.slug == object.author.profile.slug %}
<form action="{% url 'post-comment' object.slug %}" method="POST">
<div class="row mt-3">
    {% csrf_token %}
    <div class="col-8 col-md-7">
        <textarea name="comment" class="form-control" rows="1" placeholder=" Leave a comment..."></textarea>
    </div>
    <div class="col-2 col-md-4 d-flex align-items-center">
        <button type="submit" class="btn btn-secondary btn-sm mr-4">
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
</div>
</form>
{% endif %}

<!-- Comments Section -->
<section class="mt-4">
    <h4>Comments</h4>
    {% for comment in object.blogcomment_set.all %}
        <div class="card mb-3">
            <div class="card-body small"> <!-- 'small' class reduces font size -->
                <div class="row">
                    <!-- Left side for image -->
                    <div class="col-2">
                        <img class="img-fluid rounded-circle" src="{{ comment.user.profile.profile_pic.url }}" alt="{{ comment.user.username }}" style="width: 76px; height: 76px;">
                    </div>
                    <!-- Right side for author name and posted date -->
                    <div class="col-10">
                        {% if comment.user.profile.slug == user.profile.slug %}
                            <a class="mr-2" href="{% url 'user_profile' %}">{{ comment.user.username }}</a>
                        {% else %}
                        <a class="mr-2" href="{% url 'user-profile-details' comment.user.profile.slug  %}">{{ comment.user.username }}</a>
                        {% endif %}
                        <p class="text-muted">{{ comment.comment_posted_date|date:"j M, Y" }}</p>
                        {{ comment.comment }}
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="text-muted">No comments yet. Be the first one to comment!</p>
    {% endfor %}
</section>



{% endblock body %}