{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card border-secondary shadow-lg">
                <div class="card-header bg-secondary text-white text-center">
                    <h4>Create Blog Post</h4>
                </div>
                <div class="card-body">
                    <form method="POST" class="m-3 custom-blog-form">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group mt-4 text-center">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fas fa-paper-plane"></i> Post
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
