{% extends 'blog/base.html' %}
{% load static %}

{% block nav-end-menu %}
<a class="nav-item nav-link text-dark user-badge mx-2" href="{% url 'user_profile' %}"><i class="fas fa-user"></i> {{ user.username }}</a>
{% endblock %}

{% block body %}
<style>
    /* For screens smaller than 768px */
    @media (max-width: 768px) {
        .small-comment-textarea {
            font-size: 12px;
            /* Adjust this value as needed */
        }
    }
</style>

{% load humanize %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata d-flex flex-column flex-md-row justify-content-between">
            <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center mb-2 mb-md-1">
                <!-- The classes above ensure stacking on small screens and horizontal layout on medium screens -->

                <!-- Profile Image -->
                <img class="rounded-circle article-img mr-md-3" src="{{ object.author.profile.profile_pic.url }}"
                    style="width: 65px; height: 65px;">

                <div class="mt-2 mt-md-0"> <!-- Added classes for top margin on small screens -->
                    <!-- User Profile Link -->
                    {% if user.profile.slug == object.author.profile.slug %}
                    <a class="d-block font-weight-bold" href="{% url 'user_profile' %}">{{ object.author }}</a>
                    {% else %}
                    <a class="d-block font-weight-bold"
                        href="{% url 'user-profile-details' object.author.profile.slug  %}">{{ object.author }}</a>
                    {% endif %}

                    <!-- Posted Date -->
                    <small class="text-muted d-block mt-1">{{ object.date_posted|date:"j M, Y" }}</small>
                </div>
            </div>

            <!-- Update and Delete Links -->
            {% if object.author == user %}
            <div>
                <a href="{% url 'post-update' object.slug %}" class="btn btn-light mr-2 text-decoration-none">
                    <i class="fas fa-edit text-primary" title="Update"></i>
                </a>
                <a href="{% url 'post-delete' object.slug %}" class="btn btn-light text-decoration-none">
                    <i class="fas fa-trash text-danger" title="Delete"></i>
                </a>
            </div>
            {% endif %}
        </div>
        {% if object.image %}    
    <div class="d-flex justify-content-center">
        <img src="{{ object.image.url }}" alt="{{ post.title }}" style="max-width: 550px; max-height: 280px;">
    </div>
    {% endif %}

        <!-- Article Title and Content -->
        <h3><a class="article-title" href="">{{ object.title }}</a></h3>
        <p class="article-content">{{ object.content }}</p>
    </div>
    <div class="icons-container d-flex justify-content-center align-items-center">

        <!-- Like Icon -->
        <a href="{% url 'like_post' object.id %}"
            class="icon-link like-btn d-flex align-items-center mx-3 text-decoration-none"
            data-post-id="{{ object.id }}">
            <i
                class="{% if has_liked_post %}fas fa-heart text-danger{% else %}far fa-heart text-secondary {% endif %}"></i>
            <span class="icon-count ml-2 text-dark">{{ object.likes_count }}</span>
        </a>
        <!-- Comment Icon -->
        <a href="{% url 'post-details' object.slug  %}#comments"
            class="icon-link comment-icon d-flex align-items-center mx-3 text-decoration-none">
            <i class="far fa-comment text-dark"></i>
            <span class="icon-count ml-2 text-dark">{{ object.blogcomment_set.count }}</span>
        </a>

        <!-- LinkedIn Share -->
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|add:object.get_absolute_url }}&title={{ post.title }}"
            target="_blank" class="icon-link d-flex align-items-center mx-3 text-decoration-none">
            <i class="fab fa-linkedin text-primary"></i>
        </a>

    </div>
</article>

{% if not user.profile.slug == object.author.profile.slug %}
<form action="{% url 'post-comment' object.slug %}" method="POST">
    <div class="row mt-3">
        {% csrf_token %}
        <div class="col-8 col-md-7">
            <textarea name="comment" class="form-control .small-comment-textarea" rows="1"
                placeholder=" Leave a comment..."></textarea>
        </div>
        <div class="col-2 col-md-4 d-flex align-items-center">
            <button type="submit" class="btn btn-secondary btn-sm mr-4">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>
</form>
{% endif %}
<section class="mt-5">
    <h4 id="comments" class="mb-4">Comments ({{comments.count}})</h4>
    {% for comment in comments %}
    <div class="card mb-3 p-3 shadow-sm">
        <div class="d-flex align-items-start"> <!-- Flex container for the whole comment -->

            <!-- Left side: Image -->
            <img class="rounded-circle border " src="{{ comment.user.profile.profile_pic.url }}"
                alt="{{ comment.user.username }}" style="width: 50px; height: 50px; margin-right: 20px;">

            <!-- Right side: Comment details -->
            <div class="flex-grow-1">
                <!-- Username and delete button -->
                <div class="d-flex justify-content-between align-items-center mb-1">
                    {% if comment.user.profile.slug == user.profile.slug %}
                    <a class="font-weight-bold text-primary" href="{% url 'user_profile' %}"
                        style="text-decoration: none;">{{ comment.user.username }}</a>
                    {% else %}
                    <a class="font-weight-bold" href="{% url 'user-profile-details' comment.user.profile.slug  %}"
                        style="text-decoration: none;">{{ comment.user.username }}</a>
                    {% endif %}
                    {% if request.user == comment.user %}
                    <form method="post" action="{% url 'delete_comment' comment.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-transparent p-0 border-0" style="background: none;">
                            <i class="fa fa-trash text-danger"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>

                <!-- Comment Date -->
                <small class="text-muted d-block mb-2">{{ comment.comment_posted_date|naturaltime }}</small>

                <!-- Comment Content -->
                <p class="mb-0">{{ comment.comment }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-muted mt-3">No comments yet. Be the first one to comment!</p>
    {% endfor %}
</section>

<script>
    // Smooth scrolling to BSC Details section
    $('a[href^="#comments"]').on('click', function (event) {
        var target = $(this.getAttribute('href'));
        if (target.length) {
            event.preventDefault();
            $('html, body').stop().animate({
                scrollTop: target.offset().top
            }, 100);
        }
    });  
</script>
<script src="{% static 'js/likes.js' %}"></script>
{% endblock body %}