{% extends "blog/base.html" %}
{% load static %}
{% block search_bar %}
<form autocomplete="off">
  <div class="input-group mb-4">
    <input type="text" class="form-control" name="search" placeholder="Search articles title..." aria-label="Search">
    <button class="btn btn-outline-secondary" type="submit" id="search-button"><i class="fas fa-search"></i></button>
  </div>
</form>
{% endblock %}
{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="{{target_user.profile.profile_pic.url}}" alt="{{ target_user.username }}'s Profile Picture" class="mb-2"
        style="border-radius: 50%; width: 180px; height: 180px" />
    </div>
    <div class="col-md-8">
      <h3>{{ target_user.username }}</h3>
      <p class="text-muted">{{ target_user.profile.bio }}</p>
      <hr />
      <div class="d-md-flex align-items-center mb-3">
          
          <!-- Follower Count Container -->
          <div class="mb-2 mb-md-0 d-flex align-items-center">  
              <i class="fas fa-users m-1"></i>
              <span class="follower-count">{{ target_user.profile.follower_count }} Followers</span>
          </div>
          
          <!-- Follow/Unfollow Button Container -->
          <div class="mt-2 mt-md-0">
              <button class="btn btn-outline-secondary follow-btn btn-sm mx-2"
                  data-action="{% if is_following %}unfollow{% else %}follow{% endif %}"
                  data-slug="{{ target_user.profile.slug }}">
                  {% if is_following %}
                  <i class="fas fa-user-minus"></i> Unfollow
                  {% else %}
                  <i class="fas fa-user-plus"></i> Follow
                  {% endif %}
              </button>
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          </div>
      </div>
  </div>
  
  </div>
</div>
<hr />
<div class="container">
  <h3 class="display-6 text-center my-4 border-bottom pb-2">
    {{target_user.username}}'s recent posts
  </h3>
</div>
{% if page_obj %}
{% for post in page_obj %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"j M, Y" }}</small>
    </div>
    <h3>
      <a class="article-title" href="{% url 'post-details' post.slug %}">{{ post.title }}</a>
    </h3>
    <p class="article-content" style="display: inline;">{{ post.content|truncatewords:120 }}</p>
    {% if post.content|wordcount > 120 %}
    <a href="{% url 'post-details' post.slug %}" class="read-more-link">Read More</a>
    {% endif %}
  </div>

  <div class="icons-container d-flex justify-content-center align-items-center mt-4">
    <!-- Like Icon -->
    <a href="{% url 'like_post' post.id %}"
      class="icon-link like-btn d-flex align-items-center mx-3 text-decoration-none" data-post-id="{{ post.id }}">
      <i
        class="{% if post.id in user_liked_post_ids %}fas fa-heart text-danger{% else %}far fa-heart text-secondary {% endif %}"></i>
      <span class="icon-count ml-2 text-dark">{{ post.likes_count }}</span>
    </a>
    <!-- Comment Icon -->
    <a href="{% url 'post-details' post.slug  %}#comments"
      class="icon-link comment-icon d-flex align-items-center mx-3 text-decoration-none">
      <i class="far fa-comment text-dark"></i>
      <span class="icon-count ml-2 text-dark">{{ post.blogcomment_set.count }}</span>
    </a>

    <!-- LinkedIn Share -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|add:post.get_absolute_url }}&title={{ post.title }}"
      target="_blank" class="icon-link d-flex align-items-center mx-3 text-decoration-none">
      <i class="fab fa-linkedin text-primary"></i>
    </a>

  </div>
</article>
{% endfor %}

<div class="container mt-5">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <!-- Display 'First' button only if not on the first page -->
      {% if not page_obj.number == 1 %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
      </li>
      {% endif %}

      <!-- Display 'Previous' button only if there's a previous page -->
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span
            aria-hidden="true">&laquo;</span></a>
      </li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item active">
        <span class="page-link">{{ num }}</span>
      </li>
      {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %} <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        <!-- Display 'Next' and 'Last' buttons only if there's a next page -->
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span
              aria-hidden="true">&raquo;</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last"><span
              aria-hidden="true">&raquo;&raquo;</span></a>
        </li>
        {% endif %}
    </ul>
  </nav>
</div>

{% else %}

<div class="text-center mt-5">
  <h4 class="text-muted mt-3">No Posts Yet!</h4>
  <p class="mt-2 text-muted">Looks like this user hasn't shared anything yet. Check back later!</p>
</div>

{% endif %}

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> <!-- Add this line for the CSRF token -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery library -->
<script src="{% static 'js/follow.js' %}"></script> <!-- Link to the AJAX script -->
<script src="{% static 'js/likes.js' %}"></script>

{% endblock %}